.mushroomCard{
    width: 10%;
    margin: 10px;
    height: 30%;
}

.mushroomWrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.mushroomText{
    font-size: 8%;
    overflow: hidden;
}
.cardImage{
    height:100px;
    background-size: cover;
    background-position: center;
}