.mushroomCard{
    width: 20%;
    margin: 2px;
    height: 20%;
}

.mushroomWrap{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.mushroomText{
    width: 100%;
    height: 100%;
    overflow: auto;
}
.cardImage{
    height:100px;
    background-size: cover;
    background-position: center;
}
.mushBasketWrap{
    display: flex;

}
.mushroomName{
    // white-space: nowrap;
}